In [47]:
import pandas as pd
from sqlalchemy import create_engine

database_path = r'D:\databases\cricket_data.db'
engine = create_engine(f'sqlite:///{database_path}')

# match_info

In [48]:
match_info = pd.read_sql_table('match_info', engine)
match_info

,id,ground,toss,series,season,match_days
0,1,"Arun Jaitley Stadium, Delhi","Bangladesh, elected to field first",Bangladesh tour of India,2024/25,9 October 2024 - night (20-over match)
1,2,"Zayed Cricket Stadium, Abu Dhabi","Ireland, elected to bat first",Ireland vs South Africa,2024/25,7 October 2024 - daynight (50-over match)
2,3,"Providence Stadium, Guyana","St Lucia Kings, elected to field first",Caribbean Premier League,2024,6 October 2024 - night (20-over match)
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...","India, elected to field first",Bangladesh tour of India,2024/25,6 October 2024 - night (20-over match)
4,5,"Providence Stadium, Guyana","Guyana Amazon Warriors, elected to field first",Caribbean Premier League,2024,4 October 2024 - night (20-over match)
...,...,...,...,...,...,...
593,636,"The Wanderers Stadium, Johannesburg","South Africa, elected to bat first",India tour of South Africa,2023/24,17 December 2023 - day (50-over match)
594,637,Harare Sports Club,"Ireland, elected to field first",Ireland tour of Zimbabwe,2023/24,17 December 2023 - day (50-over match)
595,638,"University Oval, Dunedin","Bangladesh, elected to field first",Bangladesh tour of New Zealand,2023/24,17 December 2023 - day (50-over match)
596,639,"National Cricket Stadium, St George's, Grenada","England, elected to field first",England tour of West Indies,2023/24,16 December 2023 - day (20-over match)
597,640,Harare Sports Club,"Zimbabwe, elected to bat first",Ireland tour of Zimbabwe,2023/24,15 December 2023 - day (50-over match)

# matches

In [49]:
matches = pd.read_sql_table('matches', engine)
matches

,id,link,team1_name,team1_score,team2_name,team2_score,result
0,1,/series/bangladesh-in-india-2024-25-1439844/in...,India,221/9,Bangladesh,135/9,India won by 86 runs
1,2,/series/ireland-vs-south-africa-2024-25-143108...,Ireland,284/9,South Africa,215,Ireland won by 69 runs
2,3,/series/caribbean-premier-league-2024-1428674/...,Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,Kings won by 6 wickets (with 11 balls remaining)
3,4,/series/bangladesh-in-india-2024-25-1439844/in...,Bangladesh,127,India,132/3,India won by 7 wickets (with 49 balls remaining)
4,5,/series/caribbean-premier-league-2024-1428674/...,Barbados Royals,148,Guyana Amazon Warriors,149/2,Amazon won by 8 wickets (with 33 balls remaining)
...,...,...,...,...,...,...,...
635,636,/series/india-in-south-africa-2023-24-1387592/...,South Africa,116,India,117/2,India won by 8 wickets (with 200 balls remaining)
636,637,/series/ireland-in-zimbabwe-2023-24-1408099/zi...,Zimbabwe,197,Ireland,204/3,Ireland won by 7 wickets (with 13 balls remain...
637,638,/series/bangladesh-in-new-zealand-2023-24-1388...,New Zealand,239/7,Bangladesh,200/9,New Zealand won by 44 runs (DLS method)
638,639,/series/england-tour-of-west-indies-2023-24-13...,West Indies,222/6,England,226/3,England won by 7 wickets (with 1 ball remaining)
639,640,/series/ireland-in-zimbabwe-2023-24-1408099/zi...,Zimbabwe,166,Ireland,170/6,Ireland won by 4 wickets (with 59 balls remain...

# merge data

In [50]:
match_data = pd.merge(match_info, matches, on='id', how='outer')
match_data.rename(columns = {'id':'match_id'}, inplace = True)
match_data

,match_id,ground,toss,series,season,match_days,link,team1_name,team1_score,team2_name,team2_score,result
0,1,"Arun Jaitley Stadium, Delhi","Bangladesh, elected to field first",Bangladesh tour of India,2024/25,9 October 2024 - night (20-over match),/series/bangladesh-in-india-2024-25-1439844/in...,India,221/9,Bangladesh,135/9,India won by 86 runs
1,2,"Zayed Cricket Stadium, Abu Dhabi","Ireland, elected to bat first",Ireland vs South Africa,2024/25,7 October 2024 - daynight (50-over match),/series/ireland-vs-south-africa-2024-25-143108...,Ireland,284/9,South Africa,215,Ireland won by 69 runs
2,3,"Providence Stadium, Guyana","St Lucia Kings, elected to field first",Caribbean Premier League,2024,6 October 2024 - night (20-over match),/series/caribbean-premier-league-2024-1428674/...,Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,Kings won by 6 wickets (with 11 balls remaining)
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...","India, elected to field first",Bangladesh tour of India,2024/25,6 October 2024 - night (20-over match),/series/bangladesh-in-india-2024-25-1439844/in...,Bangladesh,127,India,132/3,India won by 7 wickets (with 49 balls remaining)
4,5,"Providence Stadium, Guyana","Guyana Amazon Warriors, elected to field first",Caribbean Premier League,2024,4 October 2024 - night (20-over match),/series/caribbean-premier-league-2024-1428674/...,Barbados Royals,148,Guyana Amazon Warriors,149/2,Amazon won by 8 wickets (with 33 balls remaining)
...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg","South Africa, elected to bat first",India tour of South Africa,2023/24,17 December 2023 - day (50-over match),/series/india-in-south-africa-2023-24-1387592/...,South Africa,116,India,117/2,India won by 8 wickets (with 200 balls remaining)
636,637,Harare Sports Club,"Ireland, elected to field first",Ireland tour of Zimbabwe,2023/24,17 December 2023 - day (50-over match),/series/ireland-in-zimbabwe-2023-24-1408099/zi...,Zimbabwe,197,Ireland,204/3,Ireland won by 7 wickets (with 13 balls remain...
637,638,"University Oval, Dunedin","Bangladesh, elected to field first",Bangladesh tour of New Zealand,2023/24,17 December 2023 - day (50-over match),/series/bangladesh-in-new-zealand-2023-24-1388...,New Zealand,239/7,Bangladesh,200/9,New Zealand won by 44 runs (DLS method)
638,639,"National Cricket Stadium, St George's, Grenada","England, elected to field first",England tour of West Indies,2023/24,16 December 2023 - day (20-over match),/series/england-tour-of-west-indies-2023-24-13...,West Indies,222/6,England,226/3,England won by 7 wickets (with 1 ball remaining)
639,640,Harare Sports Club,"Zimbabwe, elected to bat first",Ireland tour of Zimbabwe,2023/24,15 December 2023 - day (50-over match),/series/ireland-in-zimbabwe-2023-24-1408099/zi...,Zimbabwe,166,Ireland,170/6,Ireland won by 4 wickets (with 59 balls remain...

# drop unneccesary columns

In [51]:
match_data = match_data.drop(columns=['series', 'season', 'link'])
match_data

,match_id,ground,toss,match_days,team1_name,team1_score,team2_name,team2_score,result
0,1,"Arun Jaitley Stadium, Delhi","Bangladesh, elected to field first",9 October 2024 - night (20-over match),India,221/9,Bangladesh,135/9,India won by 86 runs
1,2,"Zayed Cricket Stadium, Abu Dhabi","Ireland, elected to bat first",7 October 2024 - daynight (50-over match),Ireland,284/9,South Africa,215,Ireland won by 69 runs
2,3,"Providence Stadium, Guyana","St Lucia Kings, elected to field first",6 October 2024 - night (20-over match),Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,Kings won by 6 wickets (with 11 balls remaining)
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...","India, elected to field first",6 October 2024 - night (20-over match),Bangladesh,127,India,132/3,India won by 7 wickets (with 49 balls remaining)
4,5,"Providence Stadium, Guyana","Guyana Amazon Warriors, elected to field first",4 October 2024 - night (20-over match),Barbados Royals,148,Guyana Amazon Warriors,149/2,Amazon won by 8 wickets (with 33 balls remaining)
...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg","South Africa, elected to bat first",17 December 2023 - day (50-over match),South Africa,116,India,117/2,India won by 8 wickets (with 200 balls remaining)
636,637,Harare Sports Club,"Ireland, elected to field first",17 December 2023 - day (50-over match),Zimbabwe,197,Ireland,204/3,Ireland won by 7 wickets (with 13 balls remain...
637,638,"University Oval, Dunedin","Bangladesh, elected to field first",17 December 2023 - day (50-over match),New Zealand,239/7,Bangladesh,200/9,New Zealand won by 44 runs (DLS method)
638,639,"National Cricket Stadium, St George's, Grenada","England, elected to field first",16 December 2023 - day (20-over match),West Indies,222/6,England,226/3,England won by 7 wickets (with 1 ball remaining)
639,640,Harare Sports Club,"Zimbabwe, elected to bat first",15 December 2023 - day (50-over match),Zimbabwe,166,Ireland,170/6,Ireland won by 4 wickets (with 59 balls remain...

# extract toss_winner and toss_decision from toss

In [52]:
def get_toss_winner(toss):
    if not isinstance(toss, str):
        return None

    if 'Northern Superchargers (Men)' in toss:
        return 'N S-Chargers'
    return toss.split(',')[0].strip()

def get_toss_decision(toss):
    if not isinstance(toss, str):
        return None
    toss = toss.lower()
    if 'bat' in toss:
        return 'bat'
    elif 'field' in toss:
        return 'field'
    else:
        return None

match_data['toss_winner'] = match_data['toss'].apply(get_toss_winner)
match_data['toss_decision'] = match_data['toss'].apply(get_toss_decision)
match_data = match_data.drop(columns=['toss'])
match_data

,match_id,ground,match_days,team1_name,team1_score,team2_name,team2_score,result,toss_winner,toss_decision
0,1,"Arun Jaitley Stadium, Delhi",9 October 2024 - night (20-over match),India,221/9,Bangladesh,135/9,India won by 86 runs,Bangladesh,field
1,2,"Zayed Cricket Stadium, Abu Dhabi",7 October 2024 - daynight (50-over match),Ireland,284/9,South Africa,215,Ireland won by 69 runs,Ireland,bat
2,3,"Providence Stadium, Guyana",6 October 2024 - night (20-over match),Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,Kings won by 6 wickets (with 11 balls remaining),St Lucia Kings,field
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",6 October 2024 - night (20-over match),Bangladesh,127,India,132/3,India won by 7 wickets (with 49 balls remaining),India,field
4,5,"Providence Stadium, Guyana",4 October 2024 - night (20-over match),Barbados Royals,148,Guyana Amazon Warriors,149/2,Amazon won by 8 wickets (with 33 balls remaining),Guyana Amazon Warriors,field
...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",17 December 2023 - day (50-over match),South Africa,116,India,117/2,India won by 8 wickets (with 200 balls remaining),South Africa,bat
636,637,Harare Sports Club,17 December 2023 - day (50-over match),Zimbabwe,197,Ireland,204/3,Ireland won by 7 wickets (with 13 balls remain...,Ireland,field
637,638,"University Oval, Dunedin",17 December 2023 - day (50-over match),New Zealand,239/7,Bangladesh,200/9,New Zealand won by 44 runs (DLS method),Bangladesh,field
638,639,"National Cricket Stadium, St George's, Grenada",16 December 2023 - day (20-over match),West Indies,222/6,England,226/3,England won by 7 wickets (with 1 ball remaining),England,field
639,640,Harare Sports Club,15 December 2023 - day (50-over match),Zimbabwe,166,Ireland,170/6,Ireland won by 4 wickets (with 59 balls remain...,Zimbabwe,bat

# extract match_date and format from match_days

In [53]:
def get_match_date(match_day):
    if not isinstance(match_day, str):
        return None
    return match_day.split('-')[0].strip()

def get_format(match_day):
    if not isinstance(match_day, str):
        return None
    format_str = match_day.split('(')[1].strip()
    overs = format_str.split('-')[0].strip()
    if overs in ['20', '50']:
        return overs
    else:
        return None

match_data['match_date'] = match_data['match_days'].apply(get_match_date)
match_data['format'] = match_data['match_days'].apply(get_format)
match_data = match_data.drop(columns=['match_days'])
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,result,toss_winner,toss_decision,match_date,format
0,1,"Arun Jaitley Stadium, Delhi",India,221/9,Bangladesh,135/9,India won by 86 runs,Bangladesh,field,9 October 2024,20
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284/9,South Africa,215,Ireland won by 69 runs,Ireland,bat,7 October 2024,50
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,Kings won by 6 wickets (with 11 balls remaining),St Lucia Kings,field,6 October 2024,20
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132/3,India won by 7 wickets (with 49 balls remaining),India,field,6 October 2024,20
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149/2,Amazon won by 8 wickets (with 33 balls remaining),Guyana Amazon Warriors,field,4 October 2024,20
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117/2,India won by 8 wickets (with 200 balls remaining),South Africa,bat,17 December 2023,50
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204/3,Ireland won by 7 wickets (with 13 balls remain...,Ireland,field,17 December 2023,50
637,638,"University Oval, Dunedin",New Zealand,239/7,Bangladesh,200/9,New Zealand won by 44 runs (DLS method),Bangladesh,field,17 December 2023,50
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222/6,England,226/3,England won by 7 wickets (with 1 ball remaining),England,field,16 December 2023,20
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170/6,Ireland won by 4 wickets (with 59 balls remain...,Zimbabwe,bat,15 December 2023,50

# Convert match_dates to DD-MM-YYYY

In [54]:
def convert_date_format(date):
    if date is not None:
        date_obj = pd.to_datetime(date, format='%d %B %Y')
        return date_obj.strftime('%d-%m-%Y')
    else:
        return None

match_data['match_date'] = match_data['match_date'].apply(convert_date_format)
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,result,toss_winner,toss_decision,match_date,format
0,1,"Arun Jaitley Stadium, Delhi",India,221/9,Bangladesh,135/9,India won by 86 runs,Bangladesh,field,09-10-2024,20
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284/9,South Africa,215,Ireland won by 69 runs,Ireland,bat,07-10-2024,50
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,Kings won by 6 wickets (with 11 balls remaining),St Lucia Kings,field,06-10-2024,20
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132/3,India won by 7 wickets (with 49 balls remaining),India,field,06-10-2024,20
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149/2,Amazon won by 8 wickets (with 33 balls remaining),Guyana Amazon Warriors,field,04-10-2024,20
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117/2,India won by 8 wickets (with 200 balls remaining),South Africa,bat,17-12-2023,50
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204/3,Ireland won by 7 wickets (with 13 balls remain...,Ireland,field,17-12-2023,50
637,638,"University Oval, Dunedin",New Zealand,239/7,Bangladesh,200/9,New Zealand won by 44 runs (DLS method),Bangladesh,field,17-12-2023,50
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222/6,England,226/3,England won by 7 wickets (with 1 ball remaining),England,field,16-12-2023,20
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170/6,Ireland won by 4 wickets (with 59 balls remain...,Zimbabwe,bat,15-12-2023,50

# extract match_winner from result

In [55]:
def get_match_winner(row):
    result = row['result']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    
    if not isinstance(result, str):
        return None

    if 'Match tied' in result:
        return 'Match tied'

    if 'No result' in result or 'abandoned' in result:
        return 'No result'
    
    if 'won' in result.lower():
        match_winner = result.split('won')[0].strip()
        if match_winner in team1_name:
            return team1_name
        elif match_winner in team2_name:
            return team2_name
        else:
            return match_winner
    else:
        return result

match_data['match_winner'] = match_data.apply(get_match_winner, axis=1)
match_data = match_data.drop(columns=['result'])
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,"Arun Jaitley Stadium, Delhi",India,221/9,Bangladesh,135/9,Bangladesh,field,09-10-2024,20,India
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284/9,South Africa,215,Ireland,bat,07-10-2024,50,Ireland
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,St Lucia Kings,field,06-10-2024,20,St Lucia Kings
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132/3,India,field,06-10-2024,20,India
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149/2,Guyana Amazon Warriors,field,04-10-2024,20,Guyana Amazon Warriors
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117/2,South Africa,bat,17-12-2023,50,India
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204/3,Ireland,field,17-12-2023,50,Ireland
637,638,"University Oval, Dunedin",New Zealand,239/7,Bangladesh,200/9,Bangladesh,field,17-12-2023,50,New Zealand
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222/6,England,226/3,England,field,16-12-2023,20,England
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170/6,Zimbabwe,bat,15-12-2023,50,Ireland

# handle match_winners

In [56]:
def handle_KnightRiders(row):
    match_winner = row['match_winner']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    
    if match_winner == 'KnightRiders':
        match_winner = 'Knight Riders'
        if match_winner in team1_name:
            return team1_name
        elif match_winner in team2_name:
            return team2_name
        else:
            return match_winner
    else:
        return match_winner

def handle_USA_and_UAE(match_winner):
    if match_winner=='U.S.A.':
        return 'United States of America'
    elif match_winner=='U.A.E.':
        return 'United Arab Emirates'
    else:
        return match_winner

def handle_short_team_names(match_winner):
    teams_dict = {'SF': 'San Francisco Unicorns', 'KKR': 'Kolkata Knight Riders', 'SRH': 'Sunrisers Hyderabad', 'RR': 'Rajasthan Royals',
              'RCB': 'Royal Challengers Bengaluru', 'LSG': 'Lucknow Super Giants', 'PBKS': 'Punjab Kings',
              'CSK': 'Chennai Super Kings', 'GT': 'Gujarat Titans', 'MI': 'Mumbai Indians'}
    
    if match_winner in teams_dict.keys():
        return teams_dict[match_winner]
    else:
        return match_winner

def handle_DC(row):
    match_winner = row['match_winner']
    team1_name = row['team1_name']
    team2_name = row['team2_name']

    if match_winner == 'DC':
        if 'Dubai Capitals' in [team1_name, team2_name]:
            return 'Dubai Capitals'
        elif 'Delhi Capitals' in [team1_name, team2_name]:
            return 'Delhi Capitals'
        else:
            return match_winner
    else:
        return match_winner

match_data['match_winner'] = match_data.apply(handle_KnightRiders, axis=1)
match_data['match_winner'] = match_data['match_winner'].apply(handle_USA_and_UAE)
match_data['match_winner'] = match_data['match_winner'].apply(handle_short_team_names)
match_data['match_winner'] = match_data.apply(handle_DC, axis=1)
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,"Arun Jaitley Stadium, Delhi",India,221/9,Bangladesh,135/9,Bangladesh,field,09-10-2024,20,India
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284/9,South Africa,215,Ireland,bat,07-10-2024,50,Ireland
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138/8,St Lucia Kings,139/4,St Lucia Kings,field,06-10-2024,20,St Lucia Kings
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132/3,India,field,06-10-2024,20,India
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149/2,Guyana Amazon Warriors,field,04-10-2024,20,Guyana Amazon Warriors
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117/2,South Africa,bat,17-12-2023,50,India
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204/3,Ireland,field,17-12-2023,50,Ireland
637,638,"University Oval, Dunedin",New Zealand,239/7,Bangladesh,200/9,Bangladesh,field,17-12-2023,50,New Zealand
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222/6,England,226/3,England,field,16-12-2023,20,England
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170/6,Zimbabwe,bat,15-12-2023,50,Ireland

In [57]:
def valid_match_winner(row):
    match_winner = row['match_winner']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    if match_winner in [team1_name, team2_name]:
        return True
    else:
        return False

def show_invalid_match_winners(data):
    df = data.copy()
    df['valid_match_winner'] = df.apply(valid_match_winner, axis=1)
    return df[df['valid_match_winner']==False]

df = show_invalid_match_winners(match_data)
df['match_winner'].unique()

array(['No result', 'Match tied'], dtype=object)

# handle team_scores

In [58]:
def handle_team_score(team_score):
    if '/' in team_score:
        return team_score.split('/')[0].strip()
    elif team_score=='':
        return None
    else:
        return team_score

match_data['team1_score'] = match_data['team1_score'].apply(handle_team_score)
match_data['team2_score'] = match_data['team2_score'].apply(handle_team_score)
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20,India
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284,South Africa,215,Ireland,bat,07-10-2024,50,Ireland
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138,St Lucia Kings,139,St Lucia Kings,field,06-10-2024,20,St Lucia Kings
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132,India,field,06-10-2024,20,India
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149,Guyana Amazon Warriors,field,04-10-2024,20,Guyana Amazon Warriors
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117,South Africa,bat,17-12-2023,50,India
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204,Ireland,field,17-12-2023,50,Ireland
637,638,"University Oval, Dunedin",New Zealand,239,Bangladesh,200,Bangladesh,field,17-12-2023,50,New Zealand
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222,England,226,England,field,16-12-2023,20,England
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50,Ireland

# handle nan values

In [59]:
match_data = match_data.dropna(subset=['ground'])
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20,India
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284,South Africa,215,Ireland,bat,07-10-2024,50,Ireland
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138,St Lucia Kings,139,St Lucia Kings,field,06-10-2024,20,St Lucia Kings
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132,India,field,06-10-2024,20,India
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149,Guyana Amazon Warriors,field,04-10-2024,20,Guyana Amazon Warriors
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117,South Africa,bat,17-12-2023,50,India
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204,Ireland,field,17-12-2023,50,Ireland
637,638,"University Oval, Dunedin",New Zealand,239,Bangladesh,200,Bangladesh,field,17-12-2023,50,New Zealand
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222,England,226,England,field,16-12-2023,20,England
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50,Ireland

# VERIFY

# info

In [60]:
match_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 598 entries, 0 to 639
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       598 non-null    int64
 1   ground         598 non-null    object
 2   team1_name     598 non-null    object
 3   team1_score    598 non-null    object
 4   team2_name     598 non-null    object
 5   team2_score    598 non-null    object
 6   toss_winner    598 non-null    object
 7   toss_decision  598 non-null    object
 8   match_date     598 non-null    object
 9   format         565 non-null    object
 10  match_winner   598 non-null    object
dtypes: int64(1), object(10)
memory usage: 56.1+ KB

# nan values

In [61]:
match_data.isnull().sum()

match_id          0
ground            0
team1_name        0
team1_score       0
team2_name        0
team2_score       0
toss_winner       0
toss_decision     0
match_date        0
format           33
match_winner      0
dtype: int64

## toss_winner

In [62]:
invalid_toss_winners = match_data[~match_data['toss_winner'].isin(match_data[['team1_name', 'team2_name']].values.ravel())]['toss_winner'].unique()
invalid_toss_winners

array([], dtype=object)

## toss_decision

In [63]:
match_data['toss_decision'].unique()

array(['field', 'bat'], dtype=object)

## match_date

In [64]:
def check_date_format(date):
    try:
        pd.to_datetime(date, format='%d-%m-%Y')
        return False
    except ValueError:
        return True

incorrect_dates_df = match_data[match_data['match_date'].apply(check_date_format)]
incorrect_dates_df

Empty DataFrame
Columns: [match_id, ground, team1_name, team1_score, team2_name, team2_score, toss_winner, toss_decision, match_date, format, match_winner]
Index: []

## format

In [65]:
match_data['format'].unique()

array(['20', '50', None], dtype=object)

## match_winner

In [66]:
invalid_winner_rows = match_data[~match_data['match_winner'].isin(match_data[['team1_name', 'team2_name']].values.ravel())]['match_winner'].unique()
invalid_winner_rows

array(['No result', 'Match tied'], dtype=object)

## team1_score

In [67]:
match_data['team1_score'].astype(float)

0      221.0
1      284.0
2      138.0
3      127.0
4      148.0
       ...
635    116.0
636    197.0
637    239.0
638    222.0
639    166.0
Name: team1_score, Length: 598, dtype: float64

## team2_score

In [68]:
match_data['team2_score'].astype(float)

0      135.0
1      215.0
2      139.0
3      132.0
4      149.0
       ...
635    117.0
636    204.0
637    200.0
638    226.0
639    170.0
Name: team2_score, Length: 598, dtype: float64

# Final State

In [69]:
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20,India
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284,South Africa,215,Ireland,bat,07-10-2024,50,Ireland
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138,St Lucia Kings,139,St Lucia Kings,field,06-10-2024,20,St Lucia Kings
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132,India,field,06-10-2024,20,India
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149,Guyana Amazon Warriors,field,04-10-2024,20,Guyana Amazon Warriors
...,...,...,...,...,...,...,...,...,...,...,...
635,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117,South Africa,bat,17-12-2023,50,India
636,637,Harare Sports Club,Zimbabwe,197,Ireland,204,Ireland,field,17-12-2023,50,Ireland
637,638,"University Oval, Dunedin",New Zealand,239,Bangladesh,200,Bangladesh,field,17-12-2023,50,New Zealand
638,639,"National Cricket Stadium, St George's, Grenada",West Indies,222,England,226,England,field,16-12-2023,20,England
639,640,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50,Ireland

In [70]:
match_data.to_csv('data/match_data.csv', index=False)