In [136]:
import pandas as pd
from sqlalchemy import create_engine

database_path = r'D:\databases\cricket_data.db'
engine = create_engine(f'sqlite:///{database_path}')

# batting_data

In [137]:
batting_data = pd.read_sql_table('batting_data', engine)
batting_data

,id,match_id,team_name,player,dismissal,runs,balls,maidens,fours,sixes,strike_rate
0,1,1,Bangladesh,Parvez Hossain Emon,b Arshdeep Singh,16,12,12,3,0,133.33
1,2,1,Bangladesh,Litton Das†,b Varun,14,11,25,0,1,127.27
2,3,1,Bangladesh,Najmul Hossain Shanto(c),c Pandya b Washington Sundar,11,7,9,2,0,157.14
3,4,1,Bangladesh,Towhid Hridoy,b Abhishek Sharma,2,6,9,0,0,33.33
4,5,1,Bangladesh,Mehidy Hasan Miraz,c sub (Ravi Bishnoi) b Parag,16,16,24,1,0,100.0
...,...,...,...,...,...,...,...,...,...,...,...
12774,12775,640,Zimbabwe,Brandon Mavuta,lbw b Young,4,12,12,0,0,33.33
12775,12776,640,Zimbabwe,Wellington Masakadza,c Stirling b Little,40,47,59,5,1,85.1
12776,12777,640,Zimbabwe,Blessing Muzarabani,c Young b Adair,11,16,30,1,0,68.75
12777,12778,640,Zimbabwe,Richard Ngarava,b Little,1,4,6,0,0,25.0
12778,12779,640,Zimbabwe,Tanaka Chivanga,not out,8,13,14,1,0,61.53

# drop unneccesary columns from batting_data

In [138]:
batting_data = batting_data.drop(columns=['dismissal', 'balls', 'maidens', 'fours', 'sixes', 'strike_rate'])
batting_data

          id  match_id   team_name                    player runs
0          1         1  Bangladesh       Parvez Hossain Emon   16
1          2         1  Bangladesh               Litton Das†   14
2          3         1  Bangladesh  Najmul Hossain Shanto(c)   11
3          4         1  Bangladesh             Towhid Hridoy    2
4          5         1  Bangladesh        Mehidy Hasan Miraz   16
...      ...       ...         ...                       ...  ...
12774  12775       640    Zimbabwe            Brandon Mavuta    4
12775  12776       640    Zimbabwe      Wellington Masakadza   40
12776  12777       640    Zimbabwe       Blessing Muzarabani   11
12777  12778       640    Zimbabwe           Richard Ngarava    1
12778  12779       640    Zimbabwe           Tanaka Chivanga    8

[12779 rows x 5 columns]

# clean player names in batting_data

In [139]:
import re

def clean_player_name(name):
    name = re.sub(r'\(.*?\)', '', name)
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name)
    return name.strip()


batting_data['player'] = batting_data['player'].apply(clean_player_name)
batting_data

          id  match_id   team_name                 player runs
0          1         1  Bangladesh    Parvez Hossain Emon   16
1          2         1  Bangladesh             Litton Das   14
2          3         1  Bangladesh  Najmul Hossain Shanto   11
3          4         1  Bangladesh          Towhid Hridoy    2
4          5         1  Bangladesh     Mehidy Hasan Miraz   16
...      ...       ...         ...                    ...  ...
12774  12775       640    Zimbabwe         Brandon Mavuta    4
12775  12776       640    Zimbabwe   Wellington Masakadza   40
12776  12777       640    Zimbabwe    Blessing Muzarabani   11
12777  12778       640    Zimbabwe        Richard Ngarava    1
12778  12779       640    Zimbabwe        Tanaka Chivanga    8

[12779 rows x 5 columns]

# bowling_data

In [140]:
bowling_data = pd.read_sql_table('bowling_data', engine)
bowling_data

,id,match_id,team_name,player,overs,maidens,runs,wickets,economy,dots,fours,sixes,wides,no_balls
0,1,1,Bangladesh,Mehidy Hasan Miraz,3,0,46,0,15.33,3,4,3,1,0
1,2,1,Bangladesh,Taskin Ahmed,4,0,16,2,4.0,13,1,0,0,0
2,3,1,Bangladesh,Tanzim Hasan Sakib,4,0,50,2,12.5,7,6,3,0,0
3,4,1,Bangladesh,Mustafizur Rahman,4,0,36,2,9.0,7,3,2,0,0
4,5,1,Bangladesh,Rishad Hossain,4,0,55,3,13.75,6,2,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6740,6741,640,Zimbabwe,Blessing Muzarabani,10.0,2,23,2,2.3,47,3,0,1,0
6741,6742,640,Zimbabwe,Tanaka Chivanga,7.0,0,47,1,6.71,23,7,0,2,0
6742,6743,640,Zimbabwe,Brandon Mavuta,10.0,0,37,2,3.7,36,3,0,0,0
6743,6744,640,Zimbabwe,Wellington Masakadza,2.0,0,5,0,2.5,7,0,0,0,0
6744,6745,640,Zimbabwe,Sikandar Raza,3.0,0,13,0,4.33,11,2,0,0,0

# drop unneccesary columns from bowling_data

In [141]:
bowling_data = bowling_data.drop(columns=['id', 'overs', 'maidens', 'runs', 'economy', 'dots', 'fours',  'sixes', 'wides', 'no_balls'])
bowling_data

      match_id   team_name                player wickets
0            1  Bangladesh    Mehidy Hasan Miraz       0
1            1  Bangladesh          Taskin Ahmed       2
2            1  Bangladesh    Tanzim Hasan Sakib       2
3            1  Bangladesh     Mustafizur Rahman       2
4            1  Bangladesh        Rishad Hossain       3
...        ...         ...                   ...     ...
6740       640    Zimbabwe   Blessing Muzarabani       2
6741       640    Zimbabwe       Tanaka Chivanga       1
6742       640    Zimbabwe        Brandon Mavuta       2
6743       640    Zimbabwe  Wellington Masakadza       0
6744       640    Zimbabwe         Sikandar Raza       0

[6745 rows x 4 columns]

# clean player names in bowling_data

In [142]:
bowling_data['player'] = bowling_data['player'].apply(clean_player_name)
bowling_data

      match_id   team_name                player wickets
0            1  Bangladesh    Mehidy Hasan Miraz       0
1            1  Bangladesh          Taskin Ahmed       2
2            1  Bangladesh    Tanzim Hasan Sakib       2
3            1  Bangladesh     Mustafizur Rahman       2
4            1  Bangladesh        Rishad Hossain       3
...        ...         ...                   ...     ...
6740       640    Zimbabwe   Blessing Muzarabani       2
6741       640    Zimbabwe       Tanaka Chivanga       1
6742       640    Zimbabwe        Brandon Mavuta       2
6743       640    Zimbabwe  Wellington Masakadza       0
6744       640    Zimbabwe         Sikandar Raza       0

[6745 rows x 4 columns]

# merged_data

In [143]:
performance_data = pd.merge(batting_data, bowling_data, on=['player', 'match_id', 'team_name'], how='outer')
performance_data = performance_data.sort_values(by=['match_id', 'id']).reset_index(drop=True)
performance_data['performance_id'] = range(1, len(performance_data) + 1)
performance_data = performance_data.drop(columns=['id'])
performance_data

,match_id,team_name,player,runs,wickets,performance_id
0,1,Bangladesh,Parvez Hossain Emon,16,NaN,1
1,1,Bangladesh,Litton Das,14,NaN,2
2,1,Bangladesh,Najmul Hossain Shanto,11,NaN,3
3,1,Bangladesh,Towhid Hridoy,2,NaN,4
4,1,Bangladesh,Mehidy Hasan Miraz,16,0,5
...,...,...,...,...,...,...
13138,640,Zimbabwe,Brandon Mavuta,4,2,13139
13139,640,Zimbabwe,Wellington Masakadza,40,0,13140
13140,640,Zimbabwe,Blessing Muzarabani,11,2,13141
13141,640,Zimbabwe,Richard Ngarava,1,1,13142
13142,640,Zimbabwe,Tanaka Chivanga,8,1,13143

# rearrange columns

In [144]:
performance_data = performance_data[['performance_id', 'player', 'match_id', 'team_name', 'runs', 'wickets']]
performance_data

,performance_id,player,match_id,team_name,runs,wickets
0,1,Parvez Hossain Emon,1,Bangladesh,16,NaN
1,2,Litton Das,1,Bangladesh,14,NaN
2,3,Najmul Hossain Shanto,1,Bangladesh,11,NaN
3,4,Towhid Hridoy,1,Bangladesh,2,NaN
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0
...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2
13141,13142,Richard Ngarava,640,Zimbabwe,1,1
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1

# info and null values

In [145]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13143 entries, 0 to 13142
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   performance_id  13143 non-null  int64
 1   player          13143 non-null  object
 2   match_id        13143 non-null  int64
 3   team_name       13143 non-null  object
 4   runs            9354 non-null   object
 5   wickets         6745 non-null   object
dtypes: int64(2), object(4)
memory usage: 616.2+ KB

In [146]:
performance_data.isnull().sum()

performance_id       0
player               0
match_id             0
team_name            0
runs              3789
wickets           6398
dtype: int64

# Final State

In [147]:
performance_data

,performance_id,player,match_id,team_name,runs,wickets
0,1,Parvez Hossain Emon,1,Bangladesh,16,NaN
1,2,Litton Das,1,Bangladesh,14,NaN
2,3,Najmul Hossain Shanto,1,Bangladesh,11,NaN
3,4,Towhid Hridoy,1,Bangladesh,2,NaN
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0
...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2
13141,13142,Richard Ngarava,640,Zimbabwe,1,1
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1

# Save

In [148]:
performance_data.to_csv('data/performance_data.csv', index=False)