In [212]:
import pandas as pd

In [213]:
match_data = pd.read_csv('data/match_data.csv')
match_data

,match_id,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
1,2,"Zayed Cricket Stadium, Abu Dhabi",Ireland,284,South Africa,215,Ireland,bat,07-10-2024,50.0,Ireland
2,3,"Providence Stadium, Guyana",Guyana Amazon Warriors,138,St Lucia Kings,139,St Lucia Kings,field,06-10-2024,20.0,St Lucia Kings
3,4,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",Bangladesh,127,India,132,India,field,06-10-2024,20.0,India
4,5,"Providence Stadium, Guyana",Barbados Royals,148,Guyana Amazon Warriors,149,Guyana Amazon Warriors,field,04-10-2024,20.0,Guyana Amazon Warriors
...,...,...,...,...,...,...,...,...,...,...,...
593,636,"The Wanderers Stadium, Johannesburg",South Africa,116,India,117,South Africa,bat,17-12-2023,50.0,India
594,637,Harare Sports Club,Zimbabwe,197,Ireland,204,Ireland,field,17-12-2023,50.0,Ireland
595,638,"University Oval, Dunedin",New Zealand,239,Bangladesh,200,Bangladesh,field,17-12-2023,50.0,New Zealand
596,639,"National Cricket Stadium, St George's, Grenada",West Indies,222,England,226,England,field,16-12-2023,20.0,England
597,640,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland

In [214]:
performance_data = pd.read_csv('data/performance_data.csv')
performance_data

,performance_id,player,match_id,team_name,runs,wickets
0,1,Parvez Hossain Emon,1,Bangladesh,16,NaN
1,2,Litton Das,1,Bangladesh,14,NaN
2,3,Najmul Hossain Shanto,1,Bangladesh,11,NaN
3,4,Towhid Hridoy,1,Bangladesh,2,NaN
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0
...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2.0
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0.0
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0
13141,13142,Richard Ngarava,640,Zimbabwe,1,1.0
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0

# merge data

In [215]:
data = pd.merge(performance_data, match_data, on='match_id', how='outer')
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,Parvez Hossain Emon,1,Bangladesh,16,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
1,2,Litton Das,1,Bangladesh,14,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
2,3,Najmul Hossain Shanto,1,Bangladesh,11,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
3,4,Towhid Hridoy,1,Bangladesh,2,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13141,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland

# clean team_name

In [216]:
def handle_incomplete_names(row):
    team_name = row['team_name']
    team1_name = row['team1_name']
    team2_name = row['team2_name']

    if team_name == 'KnightRiders':
        team_name = 'Knight Riders'
    
    if team_name in team1_name:
        return team1_name
    elif team_name in team2_name:
        return team2_name
    else:
        return team_name

def handle_short_team_names(team_name):
    teams_dict = {'SF': 'San Francisco Unicorns', 'KKR': 'Kolkata Knight Riders', 'SRH': 'Sunrisers Hyderabad', 'RR': 'Rajasthan Royals',
              'RCB': 'Royal Challengers Bengaluru', 'LSG': 'Lucknow Super Giants', 'PBKS': 'Punjab Kings',
              'CSK': 'Chennai Super Kings', 'GT': 'Gujarat Titans', 'MI': 'Mumbai Indians', 'P.N.G.': 'Papua New Guinea',
              'U.S.A.': 'United States of America', 'U.A.E.': 'United Arab Emirates'}
    
    if team_name in teams_dict.keys():
        return teams_dict[team_name]
    else:
        return team_name

def handle_DC(row):
    team_name = row['team_name']
    team1_name = row['team1_name']
    team2_name = row['team2_name']

    if team_name == 'DC':
        if 'Dubai Capitals' in [team1_name, team2_name]:
            return 'Dubai Capitals'
        elif 'Delhi Capitals' in [team1_name, team2_name]:
            return 'Delhi Capitals'
        else:
            return team_name
    else:
        return team_name




data['team_name'] = data.apply(handle_incomplete_names, axis=1)
data['team_name'] = data['team_name'].apply(handle_short_team_names)
data['team_name'] = data.apply(handle_DC, axis=1)
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,Parvez Hossain Emon,1,Bangladesh,16,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
1,2,Litton Das,1,Bangladesh,14,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
2,3,Najmul Hossain Shanto,1,Bangladesh,11,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
3,4,Towhid Hridoy,1,Bangladesh,2,NaN,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13141,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland

In [217]:
def valid_team_name(row):
    team_name = row['team_name']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    if team_name in [team1_name, team2_name]:
        return True
    else:
        return False

def show_invalid_team_names(data):
    df = data.copy()
    df['valid_team_name'] = df.apply(valid_team_name, axis=1)
    return df[df['valid_team_name']==False]

df = show_invalid_team_names(data)
df

Empty DataFrame
Columns: [performance_id, player, match_id, team_name, runs, wickets, ground, team1_name, team1_score, team2_name, team2_score, toss_winner, toss_decision, match_date, format, match_winner, valid_team_name]
Index: []

# handle null values

In [218]:
data['runs'] = data['runs'].fillna(0)
data['wickets'] = data['wickets'].fillna(0)
data = data.dropna(subset=['format'])
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13141,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland

# change data_types

In [219]:
data.loc[:, 'wickets'] = data['wickets'].astype(int)
data.loc[:, 'format'] = data['format'].astype(int)

In [220]:
data.loc[:, 'runs'] = pd.to_numeric(data['runs'], errors='coerce')
data.loc[:, 'runs'] = data['runs'].fillna(0)

C:\Users\thaku\AppData\Local\Temp\ipykernel_17628\1293795817.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.loc[:, 'runs'] = data['runs'].fillna(0)

In [221]:
data.loc[:, 'runs'] = data['runs'].astype(int)

# Verify

In [222]:
data.isnull().sum()

performance_id    0
player            0
match_id          0
team_name         0
runs              0
wickets           0
ground            0
team1_name        0
team1_score       0
team2_name        0
team2_score       0
toss_winner       0
toss_decision     0
match_date        0
format            0
match_winner      0
dtype: int64

In [223]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12417 entries, 0 to 13142
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   performance_id  12417 non-null  int64
 1   player          12417 non-null  object
 2   match_id        12417 non-null  int64
 3   team_name       12417 non-null  object
 4   runs            12417 non-null  object
 5   wickets         12417 non-null  float64
 6   ground          12417 non-null  object
 7   team1_name      12417 non-null  object
 8   team1_score     12417 non-null  int64
 9   team2_name      12417 non-null  object
 10  team2_score     12417 non-null  int64
 11  toss_winner     12417 non-null  object
 12  toss_decision   12417 non-null  object
 13  match_date      12417 non-null  object
 14  format          12417 non-null  float64
 15  match_winner    12417 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 1.6+ MB

# Final State

In [224]:
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,09-10-2024,20.0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13138,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13139,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13140,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13141,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland
13142,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,15-12-2023,50.0,Ireland

In [225]:
data.to_csv('data/final_preprocessed_dataset.csv', index=False)