In [24]:
import pandas as pd

# read data

In [25]:
data = pd.read_csv('data/final_preprocessed_dataset.csv')
data['match_date'] = pd.to_datetime(data['match_date'], format="%d-%m-%Y")
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland
12413,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland
12414,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland
12415,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland
12416,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12417 entries, 0 to 12416
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   performance_id  12417 non-null  int64
 1   player          12417 non-null  object
 2   match_id        12417 non-null  int64
 3   team_name       12417 non-null  object
 4   runs            12417 non-null  int64
 5   wickets         12417 non-null  float64
 6   ground          12417 non-null  object
 7   team1_name      12417 non-null  object
 8   team1_score     12417 non-null  int64
 9   team2_name      12417 non-null  object
 10  team2_score     12417 non-null  int64
 11  toss_winner     12417 non-null  object
 12  toss_decision   12417 non-null  object
 13  match_date      12417 non-null  datetime64[ns]
 14  format          12417 non-null  float64
 15  match_winner    12417 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(5), object(8)
memory usage: 1.5+ MB

# opponent_team_name

In [27]:
def get_opponent_team_name(row):
    team_name = row['team_name']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    if team_name == team1_name:
        return team2_name
    elif team_name == team2_name:
        return team1_name
    else:
        return None

data['opponent_team_name'] = data.apply(get_opponent_team_name, axis=1)
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner,opponent_team_name
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland
12413,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland
12414,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland
12415,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland
12416,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland

# team_score and opponent_team_score

In [28]:
def get_team_score(row):
    team_name = row['team_name']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    team1_score = row['team1_score']
    team2_score = row['team2_score']
    if team_name == team1_name:
        return team1_score
    elif team_name == team2_name:
        return team2_score
    else:
        return None

def get_opponent_team_score(row):
    opponent_team_name = row['opponent_team_name']
    team1_name = row['team1_name']
    team2_name = row['team2_name']
    team1_score = row['team1_score']
    team2_score = row['team2_score']
    if opponent_team_name == team1_name:
        return team1_score
    elif opponent_team_name == team2_name:
        return team2_score
    else:
        return None

data['team_score'] = data.apply(get_team_score, axis=1)
data['opponent_team_score'] = data.apply(get_opponent_team_score, axis=1)
data

,performance_id,player,match_id,team_name,runs,wickets,ground,team1_name,team1_score,team2_name,team2_score,toss_winner,toss_decision,match_date,format,match_winner,opponent_team_name,team_score,opponent_team_score
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India,135,221
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India,135,221
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India,135,221
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India,135,221
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",India,221,Bangladesh,135,Bangladesh,field,2024-10-09,20.0,India,India,135,221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12413,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12414,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12415,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12416,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,166,Ireland,170,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170

# drop team1_name, team2_name, team1_score and team2_score

In [29]:
data = data.drop(columns=['team1_name', 'team2_name', 'team1_score', 'team2_score'])
data

,performance_id,player,match_id,team_name,runs,wickets,ground,toss_winner,toss_decision,match_date,format,match_winner,opponent_team_name,team_score,opponent_team_score
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,India,135,221
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,India,135,221
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,India,135,221
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,India,135,221
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,India,135,221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12413,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12414,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12415,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170
12416,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,Ireland,166,170

# team_won

In [30]:
def team_won(row):
    match_winner = row['match_winner']
    team_name = row['team_name']
    opponent_team_name = row['opponent_team_name']
    if match_winner == team_name:
        return 2
    elif match_winner == opponent_team_name:
        return 0
    elif match_winner in ['Match tied', 'No result']:
        return 1
    else:
        return None

data['team_won'] = data.apply(team_won, axis=1)
data = data.drop(columns=['match_winner'])
data

,performance_id,player,match_id,team_name,runs,wickets,ground,toss_winner,toss_decision,match_date,format,opponent_team_name,team_score,opponent_team_score,team_won
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,135,221,0
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,135,221,0
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,135,221,0
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,135,221,0
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",Bangladesh,field,2024-10-09,20.0,India,135,221,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,166,170,0
12413,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,166,170,0
12414,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,166,170,0
12415,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,166,170,0
12416,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,Zimbabwe,bat,2023-12-15,50.0,Ireland,166,170,0

# batting_first

In [31]:
def batting_first(row):
    team_name = row['team_name']
    opponent_team_name = row['opponent_team_name']
    toss_winner = row['toss_winner']
    toss_decision = row['toss_decision']

    if toss_winner == team_name:
        if toss_decision == 'bat':
            return 1
        elif toss_decision == 'field':
            return 0
        else:
            return None
    elif toss_winner == opponent_team_name:
        if toss_decision == 'bat':
            return 0
        elif toss_decision == 'field':
            return 1
        else:
            return None
    else:
        return None

data['batting_first'] = data.apply(batting_first, axis=1)
data = data.drop(columns=['toss_winner', 'toss_decision'])
data

,performance_id,player,match_id,team_name,runs,wickets,ground,match_date,format,opponent_team_name,team_score,opponent_team_score,team_won,batting_first
0,1,Parvez Hossain Emon,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",2024-10-09,20.0,India,135,221,0,0
1,2,Litton Das,1,Bangladesh,14,0.0,"Arun Jaitley Stadium, Delhi",2024-10-09,20.0,India,135,221,0,0
2,3,Najmul Hossain Shanto,1,Bangladesh,11,0.0,"Arun Jaitley Stadium, Delhi",2024-10-09,20.0,India,135,221,0,0
3,4,Towhid Hridoy,1,Bangladesh,2,0.0,"Arun Jaitley Stadium, Delhi",2024-10-09,20.0,India,135,221,0,0
4,5,Mehidy Hasan Miraz,1,Bangladesh,16,0.0,"Arun Jaitley Stadium, Delhi",2024-10-09,20.0,India,135,221,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,Brandon Mavuta,640,Zimbabwe,4,2.0,Harare Sports Club,2023-12-15,50.0,Ireland,166,170,0,1
12413,13140,Wellington Masakadza,640,Zimbabwe,40,0.0,Harare Sports Club,2023-12-15,50.0,Ireland,166,170,0,1
12414,13141,Blessing Muzarabani,640,Zimbabwe,11,2.0,Harare Sports Club,2023-12-15,50.0,Ireland,166,170,0,1
12415,13142,Richard Ngarava,640,Zimbabwe,1,1.0,Harare Sports Club,2023-12-15,50.0,Ireland,166,170,0,1
12416,13143,Tanaka Chivanga,640,Zimbabwe,8,1.0,Harare Sports Club,2023-12-15,50.0,Ireland,166,170,0,1

# rearrange_columns

In [32]:
data = data[['performance_id', 'match_id', 'match_date', 'player', 'team_name', 'opponent_team_name', 'ground', 'format',
             'team_score', 'opponent_team_score', 'batting_first', 'team_won', 'runs', 'wickets']]
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,team_score,opponent_team_score,batting_first,team_won,runs,wickets
0,1,1,2024-10-09,Parvez Hossain Emon,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,14,0.0
2,3,1,2024-10-09,Najmul Hossain Shanto,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,11,0.0
3,4,1,2024-10-09,Towhid Hridoy,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,2,0.0
4,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,640,2023-12-15,Brandon Mavuta,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,4,2.0
12413,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,40,0.0
12414,13141,640,2023-12-15,Blessing Muzarabani,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,11,2.0
12415,13142,640,2023-12-15,Richard Ngarava,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,1,1.0
12416,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,1.0

# recent_team_scores_avg

In [33]:
def get_recent_team_scores_avg(data):
    df = data[['match_id', 'match_date', 'team_name', 'team_score']].sort_values(by=['match_date', 'team_name'])
    df.drop_duplicates(subset=None, keep='first', inplace=True)
    df['recent_team_scores_avg'] = df.groupby('team_name')['team_score'].transform(lambda x: x.shift().rolling(window=3, min_periods=1).mean())
    new_data = pd.merge(data, df[['match_id', 'team_name', 'recent_team_scores_avg']], on=['match_id', 'team_name'], how='outer')
    return new_data

data = get_recent_team_scores_avg(data)
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,team_score,opponent_team_score,batting_first,team_won,runs,wickets,recent_team_scores_avg
0,1,1,2024-10-09,Parvez Hossain Emon,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,14,0.0,126.0
2,3,1,2024-10-09,Najmul Hossain Shanto,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,11,0.0,126.0
3,4,1,2024-10-09,Towhid Hridoy,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,2,0.0,126.0
4,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,640,2023-12-15,Brandon Mavuta,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,4,2.0,NaN
12413,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,40,0.0,NaN
12414,13141,640,2023-12-15,Blessing Muzarabani,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,11,2.0,NaN
12415,13142,640,2023-12-15,Richard Ngarava,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,1,1.0,NaN
12416,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,1.0,NaN

# recent_team_win_rate

In [34]:
def get_recent_team_win_rate(data):
    df = data[['match_id', 'match_date', 'team_name', 'team_won']].sort_values(by=['match_date', 'team_name'])
    df.drop_duplicates(subset=None, keep='first', inplace=True)
    df['recent_team_win_rate'] = df.groupby('team_name')['team_won'].transform(lambda x: x.shift().rolling(window=3, min_periods=1).mean())
    new_data = pd.merge(data, df[['match_id', 'team_name', 'recent_team_win_rate']], on=['match_id', 'team_name'], how='outer')
    return new_data

data = get_recent_team_win_rate(data)
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,team_score,opponent_team_score,batting_first,team_won,runs,wickets,recent_team_scores_avg,recent_team_win_rate
0,1,1,2024-10-09,Parvez Hossain Emon,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0,0.0
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,14,0.0,126.0,0.0
2,3,1,2024-10-09,Najmul Hossain Shanto,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,11,0.0,126.0,0.0
3,4,1,2024-10-09,Towhid Hridoy,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,2,0.0,126.0,0.0
4,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13139,640,2023-12-15,Brandon Mavuta,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,4,2.0,NaN,NaN
12413,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,40,0.0,NaN,NaN
12414,13141,640,2023-12-15,Blessing Muzarabani,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,11,2.0,NaN,NaN
12415,13142,640,2023-12-15,Richard Ngarava,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,1,1.0,NaN,NaN
12416,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,1.0,NaN,NaN

# recent_runs_avg

In [35]:
def get_recent_runs_avg(data):
    df = data[['match_id', 'match_date', 'player', 'team_name', 'runs']].sort_values(by=['match_date', 'team_name'])
    df['recent_runs_avg'] = df.groupby('player')['runs'].transform(lambda x: x.shift().rolling(window=3, min_periods=1).mean())
    new_data = pd.merge(data, df[['match_id', 'team_name', 'player', 'recent_runs_avg']], on=['match_id', 'team_name', 'player'], how='outer')
    return new_data

data = get_recent_runs_avg(data)
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,team_score,opponent_team_score,batting_first,team_won,runs,wickets,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg
0,7,1,2024-10-09,Jaker Ali,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,1,0.0,126.0,0.0,8.000000
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,14,0.0,126.0,0.0,16.666667
2,6,1,2024-10-09,Mahmudullah,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,41,0.0,126.0,0.0,4.666667
3,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0,0.0,24.000000
4,11,1,2024-10-09,Mustafizur Rahman,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,1,2.0,126.0,0.0,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13137,640,2023-12-15,Ryan Burl,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,38,0.0,NaN,NaN,NaN
12413,13136,640,2023-12-15,Sikandar Raza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,2,0.0,NaN,NaN,NaN
12414,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,1.0,NaN,NaN,NaN
12415,13134,640,2023-12-15,Tinashe Kamunhukamwe,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,0.0,NaN,NaN,NaN
12416,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,40,0.0,NaN,NaN,NaN

# recent_wickets_avg

In [36]:
def get_recent_wickets_avg(data):
    df = data[['match_id', 'match_date', 'player', 'team_name', 'wickets']].sort_values(by=['match_date', 'team_name'])
    df['recent_wickets_avg'] = df.groupby('player')['wickets'].transform(lambda x: x.shift().rolling(window=3, min_periods=1).mean())
    new_data = pd.merge(data, df[['match_id', 'team_name', 'player', 'recent_wickets_avg']], on=['match_id', 'team_name', 'player'], how='outer')
    return new_data

data = get_recent_wickets_avg(data)
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,team_score,opponent_team_score,batting_first,team_won,runs,wickets,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg
0,7,1,2024-10-09,Jaker Ali,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,1,0.0,126.0,0.0,8.000000,0.000000
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,14,0.0,126.0,0.0,16.666667,0.000000
2,6,1,2024-10-09,Mahmudullah,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,41,0.0,126.0,0.0,4.666667,0.000000
3,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0,0.0,24.000000,1.333333
4,11,1,2024-10-09,Mustafizur Rahman,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,1,2.0,126.0,0.0,0.666667,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13137,640,2023-12-15,Ryan Burl,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,38,0.0,NaN,NaN,NaN,NaN
12413,13136,640,2023-12-15,Sikandar Raza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,2,0.0,NaN,NaN,NaN,NaN
12414,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,1.0,NaN,NaN,NaN,NaN
12415,13134,640,2023-12-15,Tinashe Kamunhukamwe,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,0.0,NaN,NaN,NaN,NaN
12416,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,40,0.0,NaN,NaN,NaN,NaN

# fantasy_score

In [37]:
data['fantasy_score'] = data['runs'] + 25 * data['wickets']
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,team_score,opponent_team_score,batting_first,team_won,runs,wickets,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score
0,7,1,2024-10-09,Jaker Ali,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,1,0.0,126.0,0.0,8.000000,0.000000,1.0
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,14,0.0,126.0,0.0,16.666667,0.000000,14.0
2,6,1,2024-10-09,Mahmudullah,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,41,0.0,126.0,0.0,4.666667,0.000000,41.0
3,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,16,0.0,126.0,0.0,24.000000,1.333333,16.0
4,11,1,2024-10-09,Mustafizur Rahman,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,135,221,0,0,1,2.0,126.0,0.0,0.666667,1.000000,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13137,640,2023-12-15,Ryan Burl,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,38,0.0,NaN,NaN,NaN,NaN,38.0
12413,13136,640,2023-12-15,Sikandar Raza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,2,0.0,NaN,NaN,NaN,NaN,2.0
12414,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,1.0,NaN,NaN,NaN,NaN,33.0
12415,13134,640,2023-12-15,Tinashe Kamunhukamwe,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,8,0.0,NaN,NaN,NaN,NaN,8.0
12416,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,166,170,1,0,40,0.0,NaN,NaN,NaN,NaN,40.0

# drop unneccesary columns

In [38]:
data = data.drop(columns=['team_score', 'opponent_team_score', 'team_won', 'runs', 'wickets'])
data

,performance_id,match_id,match_date,player,team_name,opponent_team_name,ground,format,batting_first,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score
0,7,1,2024-10-09,Jaker Ali,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,0,126.0,0.0,8.000000,0.000000,1.0
1,2,1,2024-10-09,Litton Das,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,0,126.0,0.0,16.666667,0.000000,14.0
2,6,1,2024-10-09,Mahmudullah,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,0,126.0,0.0,4.666667,0.000000,41.0
3,5,1,2024-10-09,Mehidy Hasan Miraz,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,0,126.0,0.0,24.000000,1.333333,16.0
4,11,1,2024-10-09,Mustafizur Rahman,Bangladesh,India,"Arun Jaitley Stadium, Delhi",20.0,0,126.0,0.0,0.666667,1.000000,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13137,640,2023-12-15,Ryan Burl,Zimbabwe,Ireland,Harare Sports Club,50.0,1,NaN,NaN,NaN,NaN,38.0
12413,13136,640,2023-12-15,Sikandar Raza,Zimbabwe,Ireland,Harare Sports Club,50.0,1,NaN,NaN,NaN,NaN,2.0
12414,13143,640,2023-12-15,Tanaka Chivanga,Zimbabwe,Ireland,Harare Sports Club,50.0,1,NaN,NaN,NaN,NaN,33.0
12415,13134,640,2023-12-15,Tinashe Kamunhukamwe,Zimbabwe,Ireland,Harare Sports Club,50.0,1,NaN,NaN,NaN,NaN,8.0
12416,13140,640,2023-12-15,Wellington Masakadza,Zimbabwe,Ireland,Harare Sports Club,50.0,1,NaN,NaN,NaN,NaN,40.0

# labelling

In [39]:
from sklearn.preprocessing import LabelEncoder

le_player = LabelEncoder()
data['player_label'] = le_player.fit_transform(data['player'])

le_team = LabelEncoder()
data['team_name_label'] = le_team.fit_transform(data['team_name'])
data['opponent_team_name_label'] = le_team.transform(data['opponent_team_name'])

le_ground = LabelEncoder()
data['ground_label'] = le_ground.fit_transform(data['ground'])


data = data.drop(columns=['team_name', 'ground', 'opponent_team_name'])
data

,performance_id,match_id,match_date,player,format,batting_first,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score,player_label,team_name_label,opponent_team_name_label,ground_label
0,7,1,2024-10-09,Jaker Ali,20.0,0,126.0,0.0,8.000000,0.000000,1.0,386,7,31,2
1,2,1,2024-10-09,Litton Das,20.0,0,126.0,0.0,16.666667,0.000000,14.0,539,7,31,2
2,6,1,2024-10-09,Mahmudullah,20.0,0,126.0,0.0,4.666667,0.000000,41.0,562,7,31,2
3,5,1,2024-10-09,Mehidy Hasan Miraz,20.0,0,126.0,0.0,24.000000,1.333333,16.0,607,7,31,2
4,11,1,2024-10-09,Mustafizur Rahman,20.0,0,126.0,0.0,0.666667,1.000000,51.0,677,7,31,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13137,640,2023-12-15,Ryan Burl,50.0,1,NaN,NaN,NaN,NaN,38.0,843,93,32,31
12413,13136,640,2023-12-15,Sikandar Raza,50.0,1,NaN,NaN,NaN,NaN,2.0,951,93,32,31
12414,13143,640,2023-12-15,Tanaka Chivanga,50.0,1,NaN,NaN,NaN,NaN,33.0,986,93,32,31
12415,13134,640,2023-12-15,Tinashe Kamunhukamwe,50.0,1,NaN,NaN,NaN,NaN,8.0,1018,93,32,31
12416,13140,640,2023-12-15,Wellington Masakadza,50.0,1,NaN,NaN,NaN,NaN,40.0,1070,93,32,31

# format

In [40]:
def format_t20(format_):
    if format_ == 20:
        return 1
    else:
        return 0

def format_odi(format_):
    if format_ == 50:
        return 1
    else:
        return 0

data['format_t20'] = data['format'].apply(format_t20)
data['format_odi'] = data['format'].apply(format_odi)
data = data.drop(columns=['format'])
data

,performance_id,match_id,match_date,player,batting_first,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score,player_label,team_name_label,opponent_team_name_label,ground_label,format_t20,format_odi
0,7,1,2024-10-09,Jaker Ali,0,126.0,0.0,8.000000,0.000000,1.0,386,7,31,2,1,0
1,2,1,2024-10-09,Litton Das,0,126.0,0.0,16.666667,0.000000,14.0,539,7,31,2,1,0
2,6,1,2024-10-09,Mahmudullah,0,126.0,0.0,4.666667,0.000000,41.0,562,7,31,2,1,0
3,5,1,2024-10-09,Mehidy Hasan Miraz,0,126.0,0.0,24.000000,1.333333,16.0,607,7,31,2,1,0
4,11,1,2024-10-09,Mustafizur Rahman,0,126.0,0.0,0.666667,1.000000,51.0,677,7,31,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412,13137,640,2023-12-15,Ryan Burl,1,NaN,NaN,NaN,NaN,38.0,843,93,32,31,0,1
12413,13136,640,2023-12-15,Sikandar Raza,1,NaN,NaN,NaN,NaN,2.0,951,93,32,31,0,1
12414,13143,640,2023-12-15,Tanaka Chivanga,1,NaN,NaN,NaN,NaN,33.0,986,93,32,31,0,1
12415,13134,640,2023-12-15,Tinashe Kamunhukamwe,1,NaN,NaN,NaN,NaN,8.0,1018,93,32,31,0,1
12416,13140,640,2023-12-15,Wellington Masakadza,1,NaN,NaN,NaN,NaN,40.0,1070,93,32,31,0,1

# handle null values

In [41]:
data = data.dropna()
data

,performance_id,match_id,match_date,player,batting_first,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score,player_label,team_name_label,opponent_team_name_label,ground_label,format_t20,format_odi
0,7,1,2024-10-09,Jaker Ali,0,126.0,0.0,8.000000,0.000000,1.0,386,7,31,2,1,0
1,2,1,2024-10-09,Litton Das,0,126.0,0.0,16.666667,0.000000,14.0,539,7,31,2,1,0
2,6,1,2024-10-09,Mahmudullah,0,126.0,0.0,4.666667,0.000000,41.0,562,7,31,2,1,0
3,5,1,2024-10-09,Mehidy Hasan Miraz,0,126.0,0.0,24.000000,1.333333,16.0,607,7,31,2,1,0
4,11,1,2024-10-09,Mustafizur Rahman,0,126.0,0.0,0.666667,1.000000,51.0,677,7,31,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12344,13067,637,2023-12-17,Joylord Gumbie,1,166.0,0.0,5.000000,0.000000,72.0,452,93,32,31,0,1
12346,13071,637,2023-12-17,Sikandar Raza,1,166.0,0.0,2.000000,0.000000,37.0,951,93,32,31,0,1
12348,13077,637,2023-12-17,Tanaka Chivanga,1,166.0,0.0,8.000000,1.000000,6.0,986,93,32,31,0,1
12349,13068,637,2023-12-17,Tinashe Kamunhukamwe,1,166.0,0.0,8.000000,0.000000,1.0,1018,93,32,31,0,1
12350,13075,637,2023-12-17,Wellington Masakadza,1,166.0,0.0,40.000000,0.000000,24.0,1070,93,32,31,0,1

# top_performer

In [42]:
def top_performer(row, data):
    match_id = row['match_id']
    match_data = data[data['match_id'] == match_id]
    rank_list = match_data.sort_values(by=['fantasy_score'])['player'].tolist()
    rank_list.reverse()
    
    player = row['player']
    player_rank = (rank_list.index(player)) + 1

    if player_rank==1:
        return 4
    elif player_rank==2:
        return 2
    elif player_rank<=11:
        return 1
    else:
        return 0

data['top_performer'] = data.apply(lambda x: top_performer(x, data), axis=1)
data

C:\Users\thaku\AppData\Local\Temp\ipykernel_23032\3196881550.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['top_performer'] = data.apply(lambda x: top_performer(x, data), axis=1)

,performance_id,match_id,match_date,player,batting_first,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score,player_label,team_name_label,opponent_team_name_label,ground_label,format_t20,format_odi,top_performer
0,7,1,2024-10-09,Jaker Ali,0,126.0,0.0,8.000000,0.000000,1.0,386,7,31,2,1,0,0
1,2,1,2024-10-09,Litton Das,0,126.0,0.0,16.666667,0.000000,14.0,539,7,31,2,1,0,0
2,6,1,2024-10-09,Mahmudullah,0,126.0,0.0,4.666667,0.000000,41.0,562,7,31,2,1,0,1
3,5,1,2024-10-09,Mehidy Hasan Miraz,0,126.0,0.0,24.000000,1.333333,16.0,607,7,31,2,1,0,0
4,11,1,2024-10-09,Mustafizur Rahman,0,126.0,0.0,0.666667,1.000000,51.0,677,7,31,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12344,13067,637,2023-12-17,Joylord Gumbie,1,166.0,0.0,5.000000,0.000000,72.0,452,93,32,31,0,1,1
12346,13071,637,2023-12-17,Sikandar Raza,1,166.0,0.0,2.000000,0.000000,37.0,951,93,32,31,0,1,1
12348,13077,637,2023-12-17,Tanaka Chivanga,1,166.0,0.0,8.000000,1.000000,6.0,986,93,32,31,0,1,0
12349,13068,637,2023-12-17,Tinashe Kamunhukamwe,1,166.0,0.0,8.000000,0.000000,1.0,1018,93,32,31,0,1,0
12350,13075,637,2023-12-17,Wellington Masakadza,1,166.0,0.0,40.000000,0.000000,24.0,1070,93,32,31,0,1,1

# verify

In [43]:
data.isnull().sum()

performance_id              0
match_id                    0
match_date                  0
player                      0
batting_first               0
recent_team_scores_avg      0
recent_team_win_rate        0
recent_runs_avg             0
recent_wickets_avg          0
fantasy_score               0
player_label                0
team_name_label             0
opponent_team_name_label    0
ground_label                0
format_t20                  0
format_odi                  0
top_performer               0
dtype: int64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10892 entries, 0 to 12350
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   performance_id            10892 non-null  int64
 1   match_id                  10892 non-null  int64
 2   match_date                10892 non-null  datetime64[ns]
 3   player                    10892 non-null  object
 4   batting_first             10892 non-null  int64
 5   recent_team_scores_avg    10892 non-null  float64
 6   recent_team_win_rate      10892 non-null  float64
 7   recent_runs_avg           10892 non-null  float64
 8   recent_wickets_avg        10892 non-null  float64
 9   fantasy_score             10892 non-null  float64
 10  player_label              10892 non-null  int32
 11  team_name_label           10892 non-null  int32
 12  opponent_team_name_label  10892 non-null  int32
 13  ground_label              10892 non-null  int32
 14  format_t20                10892 non-null  int64
 15  format_odi                10892 non-null  int64
 16  top_performer             10892 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(4), int64(6), object(1)
memory usage: 1.3+ MB

# final state

In [45]:
data

,performance_id,match_id,match_date,player,batting_first,recent_team_scores_avg,recent_team_win_rate,recent_runs_avg,recent_wickets_avg,fantasy_score,player_label,team_name_label,opponent_team_name_label,ground_label,format_t20,format_odi,top_performer
0,7,1,2024-10-09,Jaker Ali,0,126.0,0.0,8.000000,0.000000,1.0,386,7,31,2,1,0,0
1,2,1,2024-10-09,Litton Das,0,126.0,0.0,16.666667,0.000000,14.0,539,7,31,2,1,0,0
2,6,1,2024-10-09,Mahmudullah,0,126.0,0.0,4.666667,0.000000,41.0,562,7,31,2,1,0,1
3,5,1,2024-10-09,Mehidy Hasan Miraz,0,126.0,0.0,24.000000,1.333333,16.0,607,7,31,2,1,0,0
4,11,1,2024-10-09,Mustafizur Rahman,0,126.0,0.0,0.666667,1.000000,51.0,677,7,31,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12344,13067,637,2023-12-17,Joylord Gumbie,1,166.0,0.0,5.000000,0.000000,72.0,452,93,32,31,0,1,1
12346,13071,637,2023-12-17,Sikandar Raza,1,166.0,0.0,2.000000,0.000000,37.0,951,93,32,31,0,1,1
12348,13077,637,2023-12-17,Tanaka Chivanga,1,166.0,0.0,8.000000,1.000000,6.0,986,93,32,31,0,1,0
12349,13068,637,2023-12-17,Tinashe Kamunhukamwe,1,166.0,0.0,8.000000,0.000000,1.0,1018,93,32,31,0,1,0
12350,13075,637,2023-12-17,Wellington Masakadza,1,166.0,0.0,40.000000,0.000000,24.0,1070,93,32,31,0,1,1

# Save

In [46]:
data.to_csv('data/final_data.csv', index=False)